.article-content {
    margin-bottom: 40px;
    padding: 15px;
    display: block;
    border: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1)
}

.main-content-section {
    padding-top: 10px
}

.entry-title {
    transition: all .3s ease 0s;
    color: #232323
}

.below-entry-meta {
    padding-bottom: 20px
}

.post-datetime,.post-user,.post-comments,.post-tags,.post-edit,.post-delete,.post-category {
    font-size: 12px;
    padding-right: 5px;
    color: #888
}

.glyphicon {
    padding-right: 3px;
    padding-left: 3px
}

.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px
}

.basepage-line {
    border-bottom: 1px solid #ddd
}

.nav-tabs {
    border-bottom: 0
}

header {
    padding-top: 30px
}

.post-text h1,h2,h3,h4,h5,h6 {
    margin: 1.5em 0;
    text-align: start
}

.post-text p,.post-text pre,.post-text blockquote,.post-text img {
    max-width: 100%;
    display: block;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    font-size: 15px;
    line-height: 1.45
}

.alert {
    top: 24px;
    right: 24px;
    position: fixed;
    max-width: 50%;
    display: block;
    float: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25)
}

.sidebar-search {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px
}

table th,table td {
    padding: 6px 13px;
    border: 1px solid #ddd
}

pre {
    padding: 0
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px
}

.h5, h5 {
    font-size: 14px;
}
