{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Blog - Change Password{% endblock%}

{% block page_common_content %}
<div class="main-content-section">
    <div class="row">
        {% include 'admin/_sidebar.html' %}
        <div class="col-lg-10">
            <div class="page-header page-title-top">
                <h1>Edit Category</h1>
            </div>
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}