<div class="below-entry-meta">
    {% if current_user.is_authenticated %}
    <a href = "{{ url_for('admin.edit_article', id=article.id ) }}">
        <span class="label label-primary">Edit</span>
    </a>
    {% endif %}
    <span class="post-datetime"><span class="glyphicon glyphicon-calendar"></span>{{ article.create_timestramp|string|truncate(10, killwords=True, end='')}}</span>
    <span class="post-user"><span class="glyphicon glyphicon-user"></span>{{ article.author.nickname}}</span>
    <span class="post-category"><span class="glyphicon glyphicon-flag"></span>
            <a href="{{ url_for('main.category', name=article.category.name) }}">{{ article.category.name }}</a>
    </span>
    {% if article.tags.all() %}
        <span class="post-tags"><span class="glyphicon glyphicon-tags"></span>
                {% for tag in article.tags.all() %}
                    <a href="{{ url_for('main.tag', name=tag.name) }}">{{ tag.name }}</a>
                    {{ "," if not loop.last}}
                {% endfor %}
        </span>
    {% endif %}
    <span class="post-tags"><span class="glyphicon glyphicon-eye-open"></span>
            {{ article.number_of_views }}
    </span>
    <span class="post-tags"><span class="glyphicon glyphicon-comment"></span>
            <span id = "sourceId::{{ article.id }}" class = "cy_cmt_count" ></span>
            <script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cytkj1ELV">
            </script>
    </span>
</div>