{% extends "base.html" %}
{% import "_macros.html" as macros%}

{% block title %}Pelucky's Blog{% endblock %}

{% block page_common_content %}
<div class="main-content-section">
    <div class="row">
        <div class="col-lg-9">
            {% for article in one_page_articles %}
                {% include "_articleblock.html" %}
            {% endfor %}            
            <div class="pagination center">
                {{ macros.pagination_widget(pagination, 'main.index') }}
            </div>
        </div>
        <div class="col-lg-3">
            {% include "_sidebar.html" %}
        </div>
    </div>
</div>

{% endblock %}
